html {
    overflow: auto;
}

header {
    width: 100%;
    padding: 1rem;
}

main {
    padding: 0.5rem;

    /* For issue with top margin overlap */
    padding-right: 1.5rem;
    /* For issue with top margin overlap */
    margin-right: 12rem !important;
}

hr {
    
    border-bottom: unset;
    border-right: unset;
    border-left: unset;
    /* border-top: 1.5px solid #757575; */
    border-top: 1.5px solid #4f4f4f;
}

a{
    text-decoration: none;
}

h2 {
    color: #4f4f4f !important;
    /* color: #757575 !important; */
}

h3 {
    color: #4f4f4f !important;
    font-size: 1.5em;
}

h4{
    color: #4f4f4f !important;
    font-size: 1.17em;
}

h5{
    color: #4f4f4f !important;
    font-weight: bold;
    font-size: 1em;
}



.sidebar {
    position: absolute;
    overflow: hidden;
    min-height: 100%;
    height: fit-content !important;
}

.sidebar * {
    color: #4f4f4f;
}

.stack {
    flex-direction: column;
    align-items: flex-start;
}

.color-off-white{
    background-color: #e5e5e5;
}

.color-blue{
    background-color: #3FAEFC;
}

.color-sub-blue{
    background-color: #399CE3;
}
